*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
color: white;
}

body{
    background-color: #1a0f0f;
}

.nav{
    background-color: #2a1515;
    width: 100%;
    height: 100%;
    
}

.nav a{
    text-decoration: none;
}